*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'JetBrains Mono', 'monospace'; */
    font-weight: 100;
    font-style: normal;
    background: hsla(186, 33%, 94%, 1);
    
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1);
}

.hero {
    padding: 0 auto;
    color: #6750A4;
}

.top-container {
    padding: 20px 0 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
}

.intro_text {
    width: 70%;
}

.headText {
    font-size: 2.5rem;
}

.subText {
    font-weight: 300;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    padding: 0.75em 1.25em;
    background-color: #6750A4;;
    text-decoration: none;
    border-radius: 100px;
    font-size: 0.95rem;
    font-weight: 300;
    color: #ccc;
    backdrop-filter: blur(8px);
}

.btn:hover {
    opacity: 0.75;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.col {
    width: 100%;
}

.col+.col {
    margin-left: 20px;
}

.pointer-text-600-init {
    font-weight: 600;
}